name: create release binaries

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  linux:
    name: create linux binaries
    runs-on: namespace-profile-bazel-cache
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - run: nsc bazel cache setup --bazelrc=/tmp/bazel-cache.bazelrc
      - name: build amd64
        run: |
          set -eu
          bazelisk --bazelrc=/tmp/bazel-cache.bazelrc build //:bazel-remote-linux-amd64
